In [2]:
# Importando o Pandas
import pandas as pd

In [4]:
#Vizualizando a base de treino

treino = pd.read_csv('train.csv')
treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
# importando profileReport do ydata-profiling

from ydata_profiling import ProfileReport

In [9]:
# gerando vizualização

profile = ProfileReport(treino, title  = 'titanic_treino')

In [10]:
# gerando o relatorio

profile.to_file('titanic.html')

C:\Users\Leo\anaconda3\Lib\site-packages\ydata_profiling\profile_report.py:358: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
# verificando informações da base

treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
#verificando o tipo dos dados

treino.dtypes.value_counts()

int64      5
object     5
float64    2
Name: count, dtype: int64

In [17]:
# verificando valores nulos

treino.isnull().sum().sort_values(ascending = False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [18]:
# visualizando base de teste

teste = pd.read_csv('test.csv')
teste.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [19]:
# verificando informações da base

teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [20]:
#verificando o tipo dos dados

teste.dtypes.value_counts()

object     5
int64      4
float64    2
Name: count, dtype: int64

In [21]:
# verificando valores nulos

teste.isnull().sum().sort_values(ascending = False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

Temos colunas que possuem valores vazios na base de teste que nao estao vazias na base de treino( dessa maneira devemos tratar esse dados somente na base de teste

Realizando tratamento iniciais dos dados

In [22]:
# verificando os valores vazios na base de treino

treino.isnull().sum().sort_values(ascending = False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [23]:
#retornando o tamanho da base de treino
treino.shape

(891, 12)

In [24]:
#vizualizando noavmente a base
treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [25]:
# verificando cardinalidade dos dados 

treino.nunique().sort_values(ascending = False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

In [26]:
# eliminando colunas da base de treino

treino = treino.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

In [27]:
# eliminando colunas para a base de teste
teste = teste.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

In [28]:
# verificando a media de idade para a base de treino

treino.Age.mean()

29.69911764705882

In [29]:
# selecionando colunas com idade vazia e colocando a media de idade na base de treino

treino.loc[treino.Age.isnull(),'Age'] = treino.Age.mean()

In [30]:
# selecionando colunas com idade vazia e colocando a media de idade na base de teste

teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()

In [31]:
# verificando dados vazios na culuna Embarked na base de treino

treino.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [34]:
# selecionando a moda da coluna embarked


treino.Embarked.mode()
treino.Embarked.mode()[0]

'S'

In [35]:
# substituindo valores vazios da coluna embarked pela moda encontrada

treino.loc[treino.Embarked.isnull(),'Embarked'] = treino.Embarked.mode()[0]

In [36]:
# verificando a media da coluna fare para a base de teste

teste.loc[teste.Fare.isnull(),'Fare']

152   NaN
Name: Fare, dtype: float64

In [37]:
# substituindo valor vazio pela media da coluna Fare

teste.loc[teste.Fare.isnull(),'Fare'] = teste.Fare.mean()

verificando novamente os dados vazios

In [39]:
#base de treino

treino.isnull().sum().sort_values(ascending = False).head(5)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
dtype: int64

In [40]:
#base de teste

teste.isnull().sum().sort_values(ascending = False).head(5)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
dtype: int64

In [41]:
#verificando as colunas de treino na base de treino

treino.columns[treino.dtypes != 'object']

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [42]:
# criando uma nova base de treino somente com valores numericos

treino_nr = treino.loc[:, treino.columns[treino.dtypes != 'object']]

In [44]:
#verificando as colunas de teste na base de treino

teste.columns[teste.dtypes != 'object']

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [45]:
# criando uma nova base de teste somente com valores numericos

teste_nr = teste.loc[:, teste.columns[teste.dtypes != 'object']]

In [46]:
# verificando base de treino somente com dados numericos
treino_nr.head(3)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250

In [47]:
# verificando base de teste somente com dados numericos
teste.head(3)

   PassengerId  Pclass     Sex   Age  SibSp  Parch    Fare Embarked
0          892       3    male  34.5      0      0  7.8292        Q
1          893       3  female  47.0      1      0  7.0000        S
2          894       2    male  62.0      0      0  9.6875        Q

Criando modelo para classificar os dados

In [48]:
# importando train_test_split

from sklearn.model_selection import train_test_split

In [50]:
#separando base de treino em x e y

x = treino_nr.drop(['PassengerId','Survived'], axis = 1)
y = treino.Survived

In [52]:
# separando em treino e validação

x_train, x_val , y_train , y_val = train_test_split(x,y, test_size = 0.2, random_state = 42)

Decision Tree

In [53]:
# fazendo importacao

from sklearn import tree

In [58]:
#criando classificador

clf_arvore = tree.DecisionTreeClassifier(random_state = 42)

In [59]:
#fazendo o fit com os dados

clf_arvore = clf_arvore.fit(x_train,y_train)

In [68]:
# fazendo previsao

y_pred_arvore = clf_arvore.predict(x_val)

KNN

In [63]:
# fazendo importacao

from sklearn.neighbors import KNeighborsClassifier

In [64]:
#criando classificador

clf_knn = KNeighborsClassifier(n_neighbors = 3)

In [65]:
#fazendo o fit com os dados

clf_knn = clf_knn.fit(x_train,y_train)

In [69]:
# fazendo previsao

y_pred_knn = clf_knn.predict(x_val)

Logistic Regression

In [70]:
# fazendo importacao

from sklearn.linear_model import LogisticRegression

In [71]:
#criando classificador

clf_lr = LogisticRegression(random_state=42)

In [72]:
#fazendo o fit com os dados

clf_lr = clf_lr.fit(x_train,y_train)

In [73]:
# fazendo previsao

y_pred_lr = clf_lr.predict(x_val)

Realizando a avaliaçao dos modelos com a acuracia

In [77]:
# importando acuracia

from sklearn.metrics import accuracy_score

In [80]:
# avaliando decison tree
accuracy_score(y_val, y_pred_arvore)

0.6424581005586593

In [81]:
# avaliando knn
accuracy_score(y_val, y_pred_knn)

0.664804469273743

In [82]:
#avaliando logistic regression
accuracy_score(y_val, y_pred_lr)

0.7318435754189944

avaliando a matriz de confusao

In [85]:
# importando
from sklearn.metrics import confusion_matrix

In [86]:
# avaliando decison tree
confusion_matrix(y_val, y_pred_arvore)

array([[79, 26],
       [38, 36]], dtype=int64)

In [87]:
# avaliando knn
confusion_matrix(y_val, y_pred_knn)

array([[86, 19],
       [41, 33]], dtype=int64)

In [88]:
#avaliando logistic regression
confusion_matrix(y_val, y_pred_lr)

array([[94, 11],
       [37, 37]], dtype=int64)

Fazendo a previsao para os dados de validação com o modelo que teve a melhor acuracia

In [89]:
#vizualizando x_train

x_train.head(3)

     Pclass   Age  SibSp  Parch    Fare
331       1  45.5      0      0  28.500
733       2  23.0      0      0  13.000
382       3  32.0      0      0   7.925

In [90]:
# vizualizando base de teste apenas com dados numericos

teste_nr.head(3)

   PassengerId  Pclass   Age  SibSp  Parch    Fare
0          892       3  34.5      0      0  7.8292
1          893       3  47.0      1      0  7.0000
2          894       2  62.0      0      0  9.6875

In [91]:
# para a base de validacao ser igual a de treino temos que eliminar a coluna PassengerId

x_teste = teste_nr.drop('PassengerId', axis = 1)

In [93]:
# vizuanlizando a variavel x_teste criada

x_teste.head(4)

   Pclass   Age  SibSp  Parch    Fare
0       3  34.5      0      0  7.8292
1       3  47.0      1      0  7.0000
2       2  62.0      0      0  9.6875
3       3  27.0      0      0  8.6625

In [95]:
# utilizando a logistic regression para a validaçao

y_pred = clf_lr.predict(x_teste)

In [96]:
# criando uma nova coluna com a previsao na base de teste

teste['Survived'] = y_pred

In [99]:
# selecioando o id do passageiros e os possiveis sobreviventes de acordo com o modelo
base_final = teste[['PassengerId','Survived']]

In [101]:
# exportando a base em csv

base_final.to_csv('modelo1.csv', index = False)